<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant_menu.name %>
</p>

<%= link_to 'Edit', edit_restaurant_menu_path(@restaurant_menu) %> |
<%= link_to 'Back', restaurant_menus_path %>
