<h1>Sobre o Cardapio do Dia</h1>
<p>Sempre quis saber os melhores pratos servidos nos restaurantes proximos a voce? Com o Cardapio do Dia os seus problemas acabaram! Desenvolvido como trabalho para a disciplina de Desenvolvimento de Aplicacoes Web da UTFPR.</p>