<h1>Sobre o Cardapio do Dia</h1>
<p>Sempre quis saber os melhores pratos servidos nos restaurantes proximos a voce? Com o Cardapio do Dia os seus problemas acabaram! Desenvolvido como trabalho para a disciplina de Desenvolvimento de Aplicacoes Web da UTFPR.</p>

<br>

<h2>Tecnologias utilizadas:</h2>
<h3>Back-end:</h3>
<ul>
  <li>Ruby on Rails</li>
  <li>Devise para autenticacao</li>
  <li>Image Processing para redimensionar as imagens</li>
</ul>
<h3>Front-end:</h3>
<ul>
  <li>Server-side rendered ERB (Embedded Ruby)</li>
  <li>Bootstrap 4</li>
</ul>
<h3>Database:</h3>
<ul>
  <li>PostgreSQL</li>
</ul>